@charset 'utf-8';

/* <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
font-family: "Noto Sans KR", sans-serif;
font-family: "Irish Grover", system-ui; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

address {
  font-style: normal;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  word-break: break-all;
}

html {
  /*컬러*/
  --text-color-white: #fff;
  --point-color-orange: #ffae00;
}

.pTop {
  padding-top: 100px !important;
}

.pBt {
  padding-bottom: 150px;
}
